* {
    /* max-width: 1440px; */
    margin: 0;
    margin-top: 0em;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
}

.headd{
    position: fixed;
    background-color: white;
    right: 0;
    left: 0;
    top: 0;
    padding: 2.5em 0em 2.5em 0em;
    width: 100%;
}


.nav-bar{
    position: fixed;
    background-color: white;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1em 0em 1em 0em;
    max-width: 1440px;
    margin: auto;
}

.logo img{
    height: 1.4em;
    margin-left: 50%;
}

.navlinks{
    display: flex;
    margin: 0;
    padding: 0;
    padding: .6em 1.2em .6em 1.2em;
    margin-right: 10%;
}

.navlinks li{
    list-style-type: none;
    font-size: 1.2em;
    justify-content: center;
}

.navlinks li a{
    text-decoration: none;
    color: #514949;
    padding: .6em 2.5em .6em 2.5em;
    font-size: .8em;

}

#last a{
    background-color: #e7332b;
    color: #FFFAFA;
    border-bottom-right-radius: .5em;
}

@media screen and (max-width: 890px){
    .nav-bar {
            display: flex;
            justify-content: space-between;
            padding: 1em 0em 1em 0em;
            width: 100%;
        }
    
        .logo img {
            height: 1.4em;
            margin-left: 30%;
        }
    

        #hm, #imp, #why{
            display: none;
        }
}

main{
    margin-top: 15%;
}



.bigone{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* margin-left: 0%; */
}

.one{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 10%;
}

.onei{
    align-self: center;
}

.oneii img{
    height: 30em;
}

.one .onei #lineadjust h2{
    font-size: 2.6em;
}

b{
    color: #e7332b;
}


.one p{
    font-size: 1.2em;
    width: 55%;
    color: #514949;
    font-weight: 500;
    margin-top: 1.2em;
    text-align: justify;
}

.onebutton{
    width: 55%;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 1.5em;
}

#but1{
    width:42%;
    font-size: 1.1em;
    padding: .3em 0 .3em 0;
    background-color: #e7332b;
    border: 1px solid #e7332b;
    color: #FFFAFA;
    border-bottom-right-radius: .5em;
}

#but1:active{
    background-color: #dd5d56;
}

#but2{
    width: 53.7%;
    margin-left: 3%;
    font-size: 1.1em;
    padding: .3em 0 .3em 0;
    background-color: #514949;
    border: 1px solid #514949;
    color: #FFFAFA;
    border-bottom-right-radius: .5em;
}

#but2:active{
    background-color: #665b5b;
}

@media screen and (max-width: 1199px){
    .one{
        display: block;
        text-align: center;
        align-self: center;
        justify-content: center;
        padding-top: 5%;
    }

    #lineadjust h2{
        margin-bottom: 3%;
    }

    .onei p{
        width: 60%;
        margin: auto;
        text-align: center;
        align-self: center;
        justify-content: center;
        padding-bottom: 3%;
        opacity: 0.7;
    }

    .onebutton{
        width: 40%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-bottom: 5%;
    }

    #but1 {
        font-size: 1em;
        padding: .7em 0 .7em 0;
        border-bottom-right-radius: .5em;
    }
    
    
    
    #but2 {
        margin-left: 0%;
        font-size: 1em;
        padding: .7em 0 .7em 0;
        border-bottom-right-radius: .5em;
    }

    .oneii img{
        height:70%;
        width: 70%;
    }
}

.twoback{
    background-image: url('./map background.png');
    background-size:cover;
    background-repeat: no-repeat;
}

.two{
    padding-top: 8.5%;
    padding-bottom: 10%;
    display: flex;
    max-width: 1440px;
    width: 85%;
    margin: auto;
}

.twoi{
    align-self: center;
    width: 70%;
}

.twoii img{
    height: 25em;
    width: 25em;
    margin-right: 0%;
}

.twoi h1{
    font-size:2.5em;
    padding-bottom: .5em ;
    width: 70%;
}

.twoi h3{
    font-size: 1.2em;
    padding-bottom: .5em;
}

.twoi p{
    font-size:1.22em;
    font-weight: 500;
    color: #665b5b;
    padding-bottom: 1em;
}

#twocountry img{
    height: 4em;
    padding: .7em;
    background-color: white;
    margin-right: .7em;
    border-radius: .7em;
}

@media screen and (max-width: 899px) {
    .two {
        display: grid;
        text-align: center;
        align-self: center;
        justify-content: center;
        padding-top: 5%;
    }

    .twoi{
        width: 100%;
        margin: auto;
    }

    .twoi h1{
        text-align: center;
        width: 80%;
        line-height: 2em;
        margin: auto;

    }

    .twoii{
        margin-top: 8%;
    }

    .twoii img{
        height: 90%;
        width: 70%;
    }
}

@media screen and (max-width: 1199px){

    .two{
        padding-bottom: 15%;
    }
    
    .twoi h1 {
        font-size: 1.8em;
        
     }
}

.three{
    max-width: 1440px;
    width: 85%;
    margin: auto;
    padding-top: 7%;
    padding-bottom: 7%;
}

.threei h2{
    font-size: 2.5em;
    width: 40%;
}

.threeii{
    width: 100%;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
    
}


#butt {
    width: 11em;
    text-align: center;
    font-size: 1.15em;
    color: #787878;
    background-color: #ffffff;
    padding: .9em 0 .9em 0;
    margin-right: 1.4em;
    margin-bottom: 1em;
    border: none;
    border-radius: .3em;
    box-shadow: .15em .15em 1.7em .3em hsla(0, 0%, 48%, .16);
    transition: box-shadow 0.3s ease-in-out;
}

.bu:hover {
    margin-top: -1em;
    margin-bottom: 1em;
    transition: margin 0.3s ease-in-out;
}


@media screen and (max-width: 599px){
    .threei h2{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .threeii {
        display: grid;
        grid-template-areas:
        'a b'
        'c d';
        gap: 10px;
        width: 100%;
        margin: auto;
        align-content: center;
    }
    
    #bu1 {
        grid-area: a;
        width: 100%;
    }
    
    #bu2 {
        grid-area: b;
        width: 100%;
    }
    
    #bu3 {
        grid-area: c;
        width: 100%;
    }
    
    #bu4 {
        grid-area: d;
        width: 100%;
    }
    
    #butt{
        width: 100%;
        margin-bottom: 0%;
        text-align: center;
        padding: 7% 15% 7% 15%;
    }

    .four{
        display: grid;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }

    #boxer{
        width: 100%;
    }
    
}


.threeiii h2 {
    font-size: 2.5em;
    width: 40%;
}

.threeiv {
    width: 100%;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
}


 #buttt {
    font-size: 1.15em;
    text-align: justify;
    width:fit-content;
    color: #787878;
    background-color: #ffffff;
    padding: .9em 1em .9em 1em ;
    margin-right: .7em;
    margin-bottom: 1em;
    border: none;
    border-radius: .3em;
    box-shadow: .15em .15em 1.7em .3em hsla(0, 0%, 48%, .16);
    transition: box-shadow 0.3s ease-in-out;
}

.tbu:hover {
    margin-top: -1em;
    margin-bottom: 1em;
    transition: margin 0.3s ease-in-out;
}


@media screen and (max-width: 899px) {
    .threeiii h2{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .threeiv {
        display: grid;
        grid-template-areas:
        'a b'
        'c d'
        'e f';
        gap: 10px;
        width: 100%;
        margin: auto;
        align-content: center;
    }
    
    #tbut1{
        grid-area: a;
        width: 100%;
    }

    #tbut2 {
        grid-area: b;
        width: 100%;
    }

    #tbut3 {
        grid-area: c;
        width: 100%;
    }

    #tbut4 {
        grid-area: d;
        width: 100%;
    }

    #tbut5 {
        grid-area: e;
        width: 100%;
        
    }

    #tbut6 {
        grid-area: f;
        width: 100%;
    }

    #buttt{
        width: 100%;
        margin-bottom: 0%;
        text-align: center;
    }

    
}


@media screen and (max-width: 1199px){
    .threei h2 {
        font-size: 1.8em;
}

    .threeii #bu #butt {
        width: 13em;
        font-size: 1.1em;
        padding: .9em 1em .9em 1em;
}

    .threeiii h2 {
        font-size: 1.8em;
}

    .threeiv #tbut #buttt {
        font-size: 1.1em;
        width: fit-content;
        padding: .9em 1.6em .9em 1.6em;
        margin-right: .9em;
}

}

.fourback{
    background-color: #fff8e5;
}

.four{
    max-width: 1440px;
    width: 85%;
    margin: auto;
    padding-bottom: 7%;
}

.four h2{
    padding-top: 7%;
    padding-bottom: 7%;
    font-size: 2.6em;
    text-align: center;
}

.fourii{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: center;
    
}

.box1, .box2, .box3, .box4, .box5{
    width: 30%;
    margin-left: 0%;
    margin-right: 1.5%;
    margin-bottom: 3%;
    align-items: center;
    background-color: #fff;
    border-radius: 0 0 1em 0;
    color: #787878;
    text-align: center;
    padding: 4em 2em 4em 2em;
    font-size: 1.1em;
    font-weight: 500;
}

.box1 p,
.box2 p,
.box3 p,
.box4 p,
.box5 p {
    margin-bottom: -1em ;
}

.fourii img{
    margin-bottom: 1em;
}

#boxer:hover{
    background-color: #161617;
    box-shadow: 0 8px 30px hsl(0deg 0% 69% / 7%);
    color: #fff;
    
}

@media screen and (max-width:599px) {
    .fourii{
        display: grid;
        width: 90%;
        margin: auto;
    }

    #boxer{
        width: 90%;
    }
    
}

@media screen and (max-width: 1199px){
    .fourii{
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        flex-wrap: wrap;
        width: 95%;
    }

    .box1, .box2, .box3, .box4{
        width: 40%;
    }

    .box5{
        width: 82%;
    }
}

@media screen and (max-width:599px){
    .five {
        width: 50%;
    }

    #button1{
        width: 40%;
        text-align: center;
    }

    #button2{
        width: 40%;
        
    }
}

.five{
    width: 100%;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

#button1{
    width: 15%;
    margin-right: 1%;
    background-color: #e7332b;
    color: #ffffff;
    padding: .5em 2.5em .5em 2.5em;
    border-bottom-right-radius: .4em;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

#button2{
    width: 17%;
    background-color: #585858;
    color: #ffffff;
    padding: .5em 2.5em .5em 2.5em;
    border-bottom-right-radius: .4em;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.boxers:active{
    opacity: 0.6;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

footer{
    background-color: rgb(22, 22, 23);
    padding-top: 80px;
    padding-bottom: 1em;
}

.foot{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

#left{
    display: block;
}

#left img{
    margin-bottom: 17%;
}

#left p{
    color: #ffffff;
}

#right img{
    height: 1.7em;
    padding-right: .5em;
    margin-bottom: 32%;
}

#right p{
    color: #ffffff;
}

@media screen and (max-width: 599px){
    .foot{
        display: grid;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: auto;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        align-self: center;
        align-content: center;
    }
}

@media screen and (max-width: 425px) {
    .nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 1em 0em 1em 0em;
        width: 100%;
    }
    
    .logo img {
        height: 1em;
        margin-left: 30%;
        margin-top: 17%;
    }

    main{
        margin-top: 30%;
    }

        .navlinks li {
            list-style-type: none;
            font-size: 1em;
        }
    
        .navlinks li a {
            font-size: .7em;
        }

}
